
@import "mixins.less";

body{
    margin:0;
    padding: 0;
}

header{
    width: 100%;
    background: url(../images/topbg.jpg);
    background-size: 100% 100%;
    position: relative;
    margin: 0;
    padding-top: 60px;
    
}
menu{
    margin: 0; 
    padding: 0;
    width: 100%;
    background: #383838;
    .mainFont();
    color: @backGr-color_newsCard;      
    
}
.menu__container{
    max-width: @width_viewScreen;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    position: relative;
    align-content: center;
}
.menu__rightside{
    position: relative;
    &_MainMenu{
        display: flex;
        align-content: center;
        list-style: none;
        padding:0;
        margin: 0;
        position: relative;
        letter-spacing: 0.9px;
    }
    &_MainMenu li{
        display: inline-block;
        font-size: 14px;
        .mainFont();
        color: @backGr-color_newsCard;
        vertical-align: middle;
        padding: 21px 17px;
        border-right: 1px solid #292929;
        &:hover{
            background: #2a2a2a;
            cursor: pointer;
            color: @pink_color;
        }
    }
}

.menu__pop-up,.menu__pop-up-open{
    display: none;
}
.menu__pop-up-open{
    position: absolute;
    left: -270px;
    background: #292929;
    border-radius: 6px;
    z-index: 3;
}
.menu__pop-up-open ul{
    padding: 40px;
}
.menu__pop-up-open li{
    list-style: none;
    .MyriadProFont();
    
    font-size: 30px;
    padding: 15px;
    &:hover{
        cursor: pointer;
        background: #383838;
        color: @pink_color;
    }
}
.visibleDisplay{
    display: block;
}
.menu__logo{
    margin-right: auto;
    .mainFont();
    color: @backGr-color_newsCard; 
    font-size: 42px;
    background: @pink_color;
    border-radius: 5px;
    position: absolute;
    top: -12px;
    left: 0;
    padding: 12px 23px 12px;
    z-index: 3;
}

