.mainFont {
  font-family: "FjallaOne";
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  line-height: 1.4;
  text-align: center;
}
.arrow {
  position: absolute;
  align-self: center;
  margin-top: 8px;
  width: 32px;
  height: 47px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 3;
}
.arrow:hover {
  cursor: pointer;
}
.MyriadProFont {
  font-size: 13px;
  font-family: "Myriad Pro";
}
.OxygenFont {
  font-family: "Oxygen";
  font-size: 13px;
  color: #979797;
  text-decoration: underline;
}
body {
  margin: 0;
  padding: 0;
}
header {
  width: 100%;
  background: url(../images/topbg.jpg);
  background-size: 100% 100%;
  position: relative;
  margin: 0;
  padding-top: 60px;
}
menu {
  margin: 0;
  padding: 0;
  width: 100%;
  background: #383838;
  font-family: "FjallaOne";
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  line-height: 1.4;
  text-align: center;
  color: #ffffff;
}
.menu__container {
  max-width: 1170px;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  position: relative;
  align-content: center;
}
.menu__rightside {
  position: relative;
}
.menu__rightside_MainMenu {
  display: flex;
  align-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  letter-spacing: 0.9px;
}
.menu__rightside_MainMenu li {
  display: inline-block;
  font-size: 14px;
  font-family: "FjallaOne";
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  line-height: 1.4;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  padding: 21px 17px;
  border-right: 1px solid #292929;
}
.menu__rightside_MainMenu li:hover {
  background: #2a2a2a;
  cursor: pointer;
  color: #b297c4;
}
.menu__pop-up,
.menu__pop-up-open {
  display: none;
}
.menu__pop-up-open {
  position: absolute;
  left: -270px;
  background: #292929;
  border-radius: 6px;
  z-index: 3;
}
.menu__pop-up-open ul {
  padding: 40px;
}
.menu__pop-up-open li {
  list-style: none;
  font-size: 13px;
  font-family: "Myriad Pro";
  font-size: 30px;
  padding: 15px;
}
.menu__pop-up-open li:hover {
  cursor: pointer;
  background: #383838;
  color: #b297c4;
}
.visibleDisplay {
  display: block;
}
.menu__logo {
  margin-right: auto;
  font-family: "FjallaOne";
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  line-height: 1.4;
  text-align: center;
  color: #ffffff;
  font-size: 42px;
  background: #b297c4;
  border-radius: 5px;
  position: absolute;
  top: -12px;
  left: 0;
  padding: 12px 23px 12px;
  z-index: 3;
}
