.mainFont {
  font-family: "FjallaOne";
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  line-height: 1.4;
  text-align: center;
}
.arrow {
  position: absolute;
  align-self: center;
  margin-top: 8px;
  width: 32px;
  height: 47px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 3;
}
.arrow:hover {
  cursor: pointer;
}
.MyriadProFont {
  font-size: 13px;
  font-family: "Myriad Pro";
}
.OxygenFont {
  font-family: "Oxygen";
  font-size: 13px;
  color: #979797;
  text-decoration: underline;
}
main {
  background: #f0f0f0;
}
.main__content {
  display: flex;
  max-width: 1170px;
  margin: auto;
  flex-flow: row wrap;
  padding-bottom: 25px;
}
.main__content-column {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-right: 30px;
  flex: 230px 1 1;
  order: 2;
}
.newsCard {
  background: #ffffff;
  letter-spacing: 0.4px;
  margin-bottom: 30px;
  border-radius: 6px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  max-width: 270px;
}
.newsCard__header {
  font-family: "FjallaOne";
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  line-height: 1.4;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  color: #747474;
  text-align: left;
  padding: 25px 20px 0 20px;
  min-width: 230px;
}
.newsCard__image {
  margin: 22px 12px;
}
.newsCard__article {
  margin: 0px 20px 28px;
  min-width: 230px;
  font-family: "Oxygen";
  font-size: 13px;
  color: #979797;
  text-decoration: underline;
  text-decoration: none;
  line-height: 1.692;
}
.newsCard__button {
  align-self: stretch;
  font-family: "FjallaOne";
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.4;
  text-align: center;
  font-size: 13px;
  color: #ffffff;
  background: #b297c4;
  text-transform: uppercase;
  line-height: 1.846;
  border-radius: 0px 0px 6px 6px;
  border: none;
  padding: 15px 20px;
  text-align: left;
}
.newsCard__button::after {
  content: url('../images/miniArrow-right.png');
  margin-left: 10px;
}
.newsCard__button:hover {
  cursor: pointer;
}
.newNavigationBlock {
  width: 100%;
  margin-bottom: 30px;
  border-radius: 5px;
  background: #ffffff;
}
.newNavigationBlock__content {
  margin: 22px 20px;
}
.newNavigationBlock__header {
  font-family: "FjallaOne";
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  line-height: 1.4;
  text-align: center;
  font-size: 17px;
  color: #747474;
  font-weight: bold;
  margin-bottom: 23px;
  text-align: left;
}
.navigationList li {
  border-bottom: 1px solid #f0f0f0;
}
.navigationList li::before {
  content: url('../images/list-style.png');
  padding: 12px;
  padding-left: 0;
}
.navigationList li:hover {
  cursor: pointer;
  background: #f0f0f0;
}
.navigationList li:last-child {
  border-bottom: none;
}
.navigationList {
  list-style: none;
  padding: 0;
  font-family: "Oxygen";
  font-size: 13px;
  text-decoration: underline;
  text-decoration: none;
  color: #979797;
  line-height: 2.769;
  text-align: left;
}
.searchBlock__content {
  margin: 13px 15px;
}
.searchBlock__header {
  font-family: "FjallaOne";
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  line-height: 1.4;
  text-align: center;
  font-size: 17px;
  color: #747474;
  font-weight: bold;
  margin-bottom: 17px;
  text-align: left;
}
.searchBlock__search {
  height: 30px;
  background: #f0f0f0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 5px;
}
.searchBlock__search_image {
  padding: 10px;
}
.main__content-column-last {
  margin: 0;
}
.nav__item {
  border-bottom: 1px solid #f0f0f0;
  display: flex;
  margin-bottom: 20px;
  padding: 10px;
  padding-left: 0;
}
.nav__item_container {
  display: flex;
  flex-flow: column nowrap;
}
.nav__item_image {
  margin: 0 13px 13px 0;
  background: #b297c4;
  border-radius: 5px;
  padding: 18px;
}
.nav__item_header {
  color: #b297c4;
  font-size: 13px;
  font-family: "Myriad Pro";
  text-transform: uppercase;
  margin-bottom: 10px;
}
.nav__item_content {
  font-family: "Oxygen";
  font-size: 13px;
  color: #979797;
  text-decoration: underline;
}
.nav__item:hover {
  cursor: pointer;
}
